<div class="d-flex flex-column min-vh-100 bg-light" style="background: url('../assets/fondo.png') center center no-repeat fixed; background-size: cover;">
    
    <header class="py-3 border-bottom bg-white shadow-sm">
        <div class="container d-flex align-items-center">
            <img src="../assets/logo.png" alt="Catálogo de Películas" class="me-3" height="100">
            <nav class="ms-auto">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-semibold" routerLink="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-semibold" routerLink="/movies">Catálogo</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="flex-grow-1">
        <router-outlet></router-outlet>
    </main>

    <footer class="py-2 border-top bg-white text-center">
        <ul class="list-unstyled d-flex justify-content-center gap-3 flex-wrap m-0">
            <li>Materia: <span class="fw-bold">Conceptualización de entornos de desarrollo de aplicaciones y servicios</span></li>
            <li>Nombre: <span class="fw-bold">Joselyn Correa Jiménez</span></li>
            <li>Código: <span class="fw-bold">223983443</span></li>
            <li>Contacto: <a href="mailto:joselyn.correa3443@alumnos.udg.mx" class="text-decoration-none">joselyn.correa3443&#64;alumnos.udg.mx</a></li>
        </ul>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</div>
