<div class="container-md my-4">
  <h2 class="text-center mb-4">Lista de Películas</h2>

  <div>
    <router-outlet></router-outlet>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th>Título</th>
          <th>Año</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td class="text-start">
            <a [routerLink]="['/movie', movie.id]" class="text-decoration-none text-dark">
              {{ movie.title }}
            </a>
          </td>
          <td>{{ movie.year }}</td>
          <td>
            <a [routerLink]="['/movie', movie.id]" class="btn btn-secondary btn-sm">
              Ver detalles
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center mt-4">
    <a routerLink="/agregar" class="btn btn-success">
      Agregar Película
    </a>
  </div>
</div>
